/.bundle/
/vendor/bundle/
/*.gem
*.orig
/tmp
/crash.log
/output
/.Python
/bin/activate
/bin/activate.csh
/bin/activate.fish
/bin/activate_this.py
/bin/easy_install*
/bin/easy_install-2.7
/bin/pip*
/bin/python*
/include/
/lib/
/libexec/virtualenv.pyc
/download-directory bin/dir2pi
/build
/bin/dir2pi
